{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <title>Person Display</title>
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- /.card -->

        <div class="card">
              <div class="card-header">
                <h3 class="card-title">人员信息表</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="people_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      {% for th in people_simple_thead %}
                        <th>{{ th }}</th>
                      {% endfor %}
                        <th>详情</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for person in people %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.id_number }}</td>
                        <td>{{ person.phone_number }}</td>
                        <td>
                            <form method="post" action="{% url 'family_member_invite' %}">
                                <input type="hidden" name="address" value="{{ family.address }}">
                                <input type="hidden" name="id_number" value="{{ person.id_number }}">
                                <input type="submit" value="选择添加" class="btn btn-sm btn-info">
                            </form>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.content -->
{% endblock %}


{% block script %}
    <!-- DataTables -->
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- page script -->

<script>
  $(function () {
    $('#people_table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}