{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <title>users</title>
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- /.card -->

        <div class="card">
              <div class="card-header">
                <h3 class="card-title">家庭信息总览</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="families_table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      {% for th in family_thead %}
                        <th>{{ th }}</th>
                      {% endfor %}
                        <th>详情</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for family in families %}
                    <tr>
                        <td>{{ family.address }}</td>
                        <td>{{ family.illegal_situation }}</td>
                        <td>{{ family.commercial_housing_situation }}</td>
                        <td>{{ family.rental_status }}</td>
                        <td>{{ family.object_class }}</td>
                        <td>{{ family.vehicle_condition }}</td>
                        <td>
                            <form method="post" action="{% url 'family_details' %}">
                                <input type="hidden" name="address" value="{{ family.address }}">
                                <input type="submit" value="详情" class="btn btn-sm btn-info">
                            </form>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.content -->
{% endblock %}


{% block script %}
    <!-- DataTables -->
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- page script -->

<script>
  $(function () {
    $('#families_table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}