{% extends 'base.html' %}
{% load staticfiles %}

    <!-- Main content -->
{% block content %}
    <h1>人口普查表格生成</h1>
    <p>使用方法： 将信息写入名字为： information.xlsx  的excel文件中</p>
    <p>然后上传information.xlsx, 之后会显示下载按钮</p>
    <a href="{% url 'download_information_template' %}">information.xlsx 模板下载链接</a>
    {% if message_for_upload %}
        <div class="alert alert-warning">{{ message_for_upload }}</div>
    {% endif %}
    {% if not message_for_upload %}
    <div class="container-fluid">
    <div class="row">
    <form enctype="multipart/form-data" action="{% url 'upload_file' %}" method="post">
        <input type="file" name="myfile"/>
        <input type="submit" value="上传">
    </form>
    </div>
    </div>
    {% endif %}

    {% if message_for_upload %}
        <a href="{% url 'download_file' %}">
            <button class="btn bg-info">下载结果</button>
        </a>
    {% endif %}
{% endblock %}